<h1>Needy Items Edit</h1>

<h2>Hi <%= @needy.name %> here is your list.</h2>

<ul>
  <% @items.each do |item| %>
    <li class="list">
      Name: <%= item.name %><br>
      Quantity: <%= item.quantity %>
    </li>
  <% end %>
</ul>

<h2>Add an item </h2>
<% if @item.errors.any? %>
  <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li class="error"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:needy, @item], local: true do |form| %>
  <%# needy_id_field(@item) %>
  <input type="hidden" name="item[needy_id]" value="<%= @needy.id %>">
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :quantity %>
  <%= form.text_field :quantity %>
  <br>
  <%= form.submit %>
<% end %>

<br>
<a href="/needy/<%= @needy.id %>/items/delete">Delete Your List</a>
<%= link_to "Back to your profile", needy_path(@needy) %>
