<h1>Needy New Items</h1>
<% if @item.errors.any? %>
  <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li class="error"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:needy, @item], local: true do |form| %>
  <%# needy_id_field(@item) %>
  <input type="hidden" name="item[needy_id]" value="<%= @needy.id %>">
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :quantity %>
  <%= form.text_field :quantity %>
  <br>
  <%= form.submit %>
<% end %>
