<h1>New Needy</h1>

<%= form_with model: @needy do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <br>
  <%= form.label :password %>
  <%= form.text_field :password %>
  <br>
  <%= form.submit %>
<% end %>
