<h1>This is <%= @needy.name %></h1>
<h2>Bio</h2>
<p class="about"><%= @needy.bio %></p>
<h3>This person is in need of:</h3>
<ul>
  <% if @items.empty? %>
    <li>Nothing at this time</li>
  <% else %>
    <% @items.each do |item| %>
    <li><%= item.name %> - quantity: <%= item.quantity %></li>
    <% end %>
  <% end %>
</ul>
<%= link_to "Back to Your Profile", donator_path(@donator) %>
