<h1>This is <%= @needy.name %></h1>
<h2>Bio</h2>
<p class="about"><%= @needy.bio %></p>
<h3>This person is in need of:</h3>
<h3>Use colleciton_check_boxes?</h3>
<p>f.collection_check_boxes :category_ids, Category.all, :id, :name but use model method to filter </p>
<ul>
  <% if @items.empty? %>
    <li>Nothing at this time</li>
  <% else %>
    <% @items.each do |item| %>
      <li><input type="checkbox" name="item[<%= item.id %>]"><%= item.name %> - quantity: <%= item.quantity %></input></li>
    <% end %>
  <% end %>
</ul>
<%= link_to "Back to Your Profile", donator_path(@donator) %>
