<h1>Hi <%= @needy.name %>! This is the Needy show page</h1>

<span><strong>Your Email:</strong> <%= @needy.email %></span>

<p class="bio"><strong>Your Bio:</strong> <%= @needy.bio %></p>

<%= link_to "Edit your profile", edit_needy_path(@needy) %><br>
<% if @needy.items.empty? %>
  <%= link_to "Create Your List of Needs", new_needy_items_path(@needy) %>
<% else %>
  <%= link_to "Edit Your List of Needs", edit_needy_items_path(@needy) %>
<% end %>

<h2>Your List Of Needs</h2>
  <ul>
    <% @needy.items.each do |item| %>
      <li>
        Name: <%= item.name %><br>
        Quantity: <%= item.quantity %>
      </li>
    <% end %>
  </ul>
<h2>Recently donated items</h2>
<ul>
  <% if @donated_items.present? %>
    <% @donated_items.each do |item| %>
      <li>
        Item: <%= item.name %><br>
        Quantity: <%= item.quantity %><br>
        Donated By: <%= item.find_donator.name %>
      </li>
    <% end %>
  <% else %>
    <li>No Items have been donated</li>
  <% end %>
</ul>
<%# need to check not null --> link_to "Edit Needs", edit_needy_item_path %>
<%# link_to "Create a needs list", new_needy_items_path %>
