<!DOCTYPE html>
<html>
  <head>
    <title>FeedTheNeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
        <nav>
          <% if logged_in? %>
            <% if is_donator? %>
              <%= link_to "Home", donator_path(@current_user) %> |
            <% end %>
            <% if is_needy? %>
              <%= link_to "Home", needy_path(@current_user) %> |
            <% end %>
            <a href="/logout">LogOut</a>
          <% else %>
            <%= link_to "LogIn", login_path %>
          <% end %>
        </nav>

        <div id="content">
          <%# if flash[:error]&.present?  %>
            <%# flash[:error].each do |flash| %>
          <%# some div  %>
          <%# end %>
          <% flash.each do |name, message| %>
            <div class="error">
              <%# binding.pry %>
              <%= message %>
            </div>
          <% end %>

          <%= yield %>

          <div class="footer">
            <p>Feed The Need</p>
          </div>
        </div>
  </body>
</html>
